 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Über Mich</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hallo mein Name ist Arne und ich bin leidenschaftlicher Android Entwickler. Ich entwickle von Berlin aus für Kunden vor Ort und Deutschlandweit Android Applikationen.</p>
                </div>
                <div class="col-lg-4">
                    <p>Dabei bin ich an den einzelnen Prozessen des Projektes beteiligt. Angefangen vom erstellen eines Konzeptes basierend auf der Idee, über die Implementierung der Applikation, bis hin zur Veröffentlichung im Google PlayStore und der dazu gehörenden Wartung </p>
                </div>

            </div>
        </div>
    </section>