<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{ page.title }}</title>


    <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css"/>
    
  </head>
  <body>
    <div class="wrapper">
      <header>
      </header>
      <section id="main">
        {{ content }}
      </section>
      <footer>
      </footer>
    </div>
  </body>

</html>